* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



/* Header styles */

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header-logo {
  width: 100px;
  height: 100px;
  margin-right: auto;
}

.openbtn {
  font-size: 60px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #6069b0;
  border: none;
  background: none;
  outline: none;
}

/* intro styling */

.intro {
  text-align: center;
  background-color: #bed1d6;
  padding: 50px 0;
}

.intro h1 {
  margin: 20px;
  color: white;
}

.intro h3 {
  margin: 20px;
}

.avatar {
  height: 300px;
  width: 300px;
}

/* Skills and Education */

.my-card-area{
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #6069b0;
}

.my-card {
  width: 85%;
  margin: 0 auto;
}

.my-card:nth-child(2) {
  margin-top: 100px;
}

.my-card-text {
  padding-top: 85px;
  text-align: center;
  background: white;
  height: 360px;
  margin-top: -50px;
  border-radius: 5px;
}

.my-card-text li {
  padding: 5px 0;
}

.skills-list {
  list-style: none;
  font-weight: 500;
}

.my-image-area {
  width: 90%;
  margin: 0 auto;
}

.my-card-img {
  border-radius: 5px;
  filter: drop-shadow(7px 10px 10px rgba(0, 0, 0, .4));
}
