* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* Header styles */
.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header-logo {
  width: 90px;
  margin-right: auto;
  padding-left: 10px;
}

.openbtn {
  font-size: 50px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #6069b0;
  border: none;
  background: none;
  outline: none;
}

.nav-lg ul {
  list-style: none;
  display: none;
  margin-right: 20px;
}

.nav-lg a {
  text-decoration: none;
  margin-left: 20px;
  color: #6069b0;
  font-weight: 700;
}

.nav-lg a:hover {
  border-bottom: 3px solid #6069b0;
  padding-bottom: 2px;
}

/* nav sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #6069b0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .6);
  display: none;
}

.modal-open {
  overflow: hidden;
}

/* intro styling */
.intro {
  text-align: center;
  background-color: #bed1d6;
  padding: 50px 0;
}

.intro h1 {
  margin: 30px 0 20px;
  font-size: 40px;
}

.intro p {
  font-size: 24px;
  font-weight: 400;
  margin: 20px auto;
  color: #474747;
  line-height: 130%;
  width: 80%;
  display: block;
}

.avatar {
  height: 300px;
  width: 300px;
}

/* Skills and Education */
.my-card-area {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #6069b0;
}

.my-card {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

.my-card-text {
  padding-top: 85px;
  text-align: center;
  background: white;
  height: 420px;
  margin-top: -50px;
  border-radius: 5px;
}

.my-card-text li {
  color: #474747;
}

.skills-title,
.education-title {
  padding-top: 10px;
  padding-bottom: 20px;
}

.suny-cobleskill,
.treehouse {
  width: 200px;
  padding: 20px 0 0;
}

.my-card-text li {
  padding: 5px 0;
}

.skills-list {
  list-style: none;
  font-weight: 600;
}

.education-list {
  list-style: none;
  font-weight: 700;
}

.my-image-area {
  width: 90%;
  margin: 0 auto;
}

.my-card-img {
  border-radius: 5px;
  filter: drop-shadow(7px 10px 10px rgba(0, 0, 0, .4));
}

/* Recent Cards */
.recent {
  text-align: center;
  margin: 20px 0;
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 40px auto 0;
  flex-wrap: wrap;
}

.active {
  background-color: #6069b0;
  color: white;
}

.filter li {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border: 2px solid #6069b0;
  border-radius: 24px;
  transition: background-color .5s;
}

.filter li:hover {
  transition: background-color .5s;
  background-color: #6069b0;
  color: white;
  cursor: pointer;
}

.work-area {
  display: grid;
}

.project-card {
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 5%;
  filter: drop-shadow(7px 10px 10px rgba(0, 0, 0, .4));
}

.project-img {
  width: 100%;
  border-radius: 5px;
}

.project-text-area {
  width: 85%;
}

.project-text-area h3 {
  padding: 20px 0;
}

.project-text-area p {
  padding-bottom: 20px;
  margin: 5px 0;
  height: 120px;
  line-height: 130%;
  color: #474747;
}

.preview-site {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.preview-site span {
  padding: 10px 0;
  border-radius: 5px;
  background-color: #6069b0;
  width: 45%;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.preview-site a {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

/* Contact Section */
.contact-me {
  text-align: center;
  margin: 100px 0 75px;
}

.contact-logo {
  width: 200px;
  margin-bottom: 50px;
  display: inline-block;
}

.contact-me h2 {
  font-size: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.contact-me a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #6069b0;
  padding: 20px;
  border: 5px #6069b0 solid;
  border-radius: 15px;
  display: inline-block;
  transition: background-color .5s;
}

.contact-me a:hover {
  transition: background-color .5s;
  background-color: #6069b0;
  color: white;
}

/* Footer */
.footer {
  background-color: #6069b0;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.icon-area {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 50px;
  margin: 15px;
}

.gitpath {
  fill: #FFFFFF;
}

.st0 {
  fill: #FFFFFF;
}

.icon:hover {
  animation-name: rotate-icon;
  animation-duration: 1s;
  transform-origin: 50% 50%;
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.copyright {
  color: white;
}

@media (min-width: 768px) {

  /* Project cards */
  .work-area {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }

  .intro p {
    width: 50%;
  }

  .project-text-area p {
    font-size: 15px;
  }

  .openbtn {
    display: none;
  }

  .nav-lg ul {
    display: flex;
  }

  .contact-me h2 {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {

  /* Skills and Education */
  .my-card-area {
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }

  .project-text-area p {
    height: 100px;
    line-height: 150%;
  }
}

@media (min-width: 1600px) {

  /* Project cards */
  .work-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
