* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



/* Header styles */

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header-logo {
  width: 100px;
  height: 100px;
  margin-right: auto;
}

.openbtn {
  font-size: 60px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #6069b0;
  border: none;
  background: none;
  outline: none;
}

/* intro styling */

.intro {
  text-align: center;
  background-color: #bed1d6;
  padding: 50px 0;
}

.intro h1 {
  margin: 20px;
  color: white;
}

.intro h3 {
  margin: 20px;
}

.avatar {
  height: 300px;
  width: 300px;
}
